#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* COMMAND STYLE */

#commandContainer {
  justify-content: center;
  margin-bottom: 20px;
}

#commandOutput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-family: monospace;
  font-size: 20px;
}

/* BUTTON STYLE */

#buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.buttonGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(3, 1fr); /* 3 rows */
  grid-column-gap: 10px; /* spacing between buttons */
  gap: 10px; /* spacing between buttons */
  margin: 20px;
}

.buttonGroup:last-of-type {
  margin-right: 0;
}

.buttonGroup {
  margin-bottom: 15px;
  font-weight: bold;
}

.buttonOption {
  padding: 10px;
  font-size: 16px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonOption:hover {
  background-color: #ddd;
  cursor: pointer;
}

.buttonOption.selected {
  background-color: #007bff;
  color: #fff;
}

/* UTILITY STYLE */

#utilityContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#clearButton,
#copyButton,
#saveButton {
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  transition: all 0.2s;
}

#clearButton:hover,
#copyButton:hover,
#saveButton:hover {
  background-color: #0062cc;
  cursor: pointer;
}

/* HISTORY STYLE */

#historyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historyLabel {
  margin-bottom: 5px;
  font-weight: bold;
}

.historyItem {
  margin-bottom: 5px;
  font-family: monospace;
  font-size: 16px;
  color: #555;
}
